.SeasonEpisodeBox {
  display: table;
  font-variant: all-small-caps;
}
.SeasonEpisodeBox > .row {
  display: table-row;
}
.SeasonEpisodeBox > .row > * {
  display: table-cell;
}
.SeasonEpisodeBox .label {
  color: #999;
  padding-right: .5em;
}
